.list {
    display: flex;
    list-style: none;
    padding: 30px;
    background-color:#000;
}

.item {
    color: #fff;
    /* background-color: white; */
    margin-right: 1em;
    font-size: 0.6em;
    text-decoration: none;
    transition: 0.5s;
}

.item:hover {
    color: #ffbb33;
    font-weight: bold;
}